<app-inner-header></app-inner-header>
<article>
<section class="tab-whl sticky-header without-banner">
<div class="container">

<div class="div-table-tr">
<div class="div-table-td text-uppercase left-title text-center">
<h5 class="mb-0">Point System</h5>
</div>

</div>

</div>
</section>
<section class="content-section">
<div class="container">

<div class="content-box">
<div class="tabs-whl">
<ul class="nav nav-tabs even-tabs white-tabs" id="myTab" role="tablist">
<li class="nav-item">
<a class="nav-link active h6 mb-0" id="home-tab" data-toggle="tab" href="#home" role="tab"
aria-controls="home" aria-selected="true">Cricket</a>
</li>


</ul>
<div class="tab-content" id="myTabContent">
<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
<div id="accordionExample">
    <div class="tabs-whl s-tabs">
        <ul class="nav nav-tabs even-tabs white-tabs" id="t20" role="tablist">
        <li class="nav-item">
        <a class="nav-link active h6 mb-0" id="t20" data-toggle="tab" href="#t20" role="tab"
        aria-controls="home" aria-selected="true">t20</a>
        </li>
        <li class="nav-item">
            <a class="nav-link  h6 mb-0" id="t10" data-toggle="tab" href="#OD" role="tab"
            aria-controls="home" aria-selected="true">OD</a>
            </li>
        
        </ul>
        <div class="tab-content" id="t20">
        <div class="tab-pane fade show active" id="t20" role="tabpanel" aria-labelledby="t20">
            <div class="content-div-even white-box b-f orange-t text-uppercase">
                <div class="rank-no s-icon"><img src="assets/images/bat-icon-new.svg" />BATING</div>
                
                </div>
                <div class="content-div-even white-box">
                <div class="rank-no">Run</div>
                <div class="rank-price green-t">+0.5</div>
                </div>
                <div class="content-div-even white-box">
                <div class="rank-no">Boundary Bonus</div>
                <div class="rank-price green-t">+0.5</div>
                </div>
                <div class="content-div-even white-box">
                    <div class="rank-no">Six Bonus</div>
                    <div class="rank-price green-t">+1</div>
                </div>
                <div class="content-div-even white-box">
                    <div class="rank-no">Half-Century Bonus</div>
                    <div class="rank-price green-t">+2</div>
                </div>
                <div class="content-div-even white-box">
                    <div class="rank-no">Century Bonus</div>
                    <div class="rank-price green-t">+1</div>
                </div>
                <div class="content-div-even white-box">
                    <div class="rank-no">Dismissal for a duck(Batsman,Wicket-keeper & All-rounder)</div>
                    <div class="rank-price green-t">+1</div>
                </div>
                <div class="content-div-even white-box">
                    <div class="rank-no">Dismissal for a duck(Batsman,Wicket-keeper & All-rounder)</div>
                    <div class="rank-price green-t">+1</div>
                </div>
            </div>
            <div class="tab-pane fade show active" id="t20" role="tabpanel" aria-labelledby="t20">
                <div class="content-div-even white-box b-f orange-t text-uppercase">
                    <div class="rank-no s-icon"><img src="assets/images/bowling-icon-new.svg" /> BOWLING</div>
                    
                    </div>
                    <div class="content-div-even white-box">
                    <div class="rank-no">Wicket(Excluding Run Out)</div>
                    <div class="rank-price green-t">+12</div>
                    </div>
                    <div class="content-div-even white-box">
                    <div class="rank-no">4 Wicket Bonus</div>
                    <div class="rank-price green-t">+2</div>
                    </div>
                    <div class="content-div-even white-box">
                        <div class="rank-no">5 Wicket Bonus</div>
                        <div class="rank-price green-t">+4</div>
                    </div>
                    <div class="content-div-even white-box">
                        <div class="rank-no">Maiden Over</div>
                        <div class="rank-price green-t">+2</div>
                    </div>
            </div>
            <div class="tab-pane fade show active" id="t20" role="tabpanel" aria-labelledby="t20">
                <div class="content-div-even white-box b-f orange-t text-uppercase">
                <div class="rank-no s-icon"><img src="assets/images/fielding-icon-new.svg" /> FIELDING</div>
                
                </div>
                    <div class="content-div-even white-box">
                    <div class="rank-no">Catch</div>
                    <div class="rank-price green-t">+6</div>
                    </div>
                    <div class="content-div-even white-box">
                    <div class="rank-no">Stumping/Run-out(Direct)</div>
                    <div class="rank-price green-t">+4</div>
                    </div>
                    <div class="content-div-even white-box">
                        <div class="rank-no">Run out(Thrower)</div>
                        <div class="rank-price green-t">+2</div>
                    </div>
                    <div class="content-div-even white-box">
                        <div class="rank-no">Run out(Catcher)</div>
                        <div class="rank-price green-t">+4</div>
                    </div>
            </div>

            <div class="tab-pane fade show active" id="t20" role="tabpanel" aria-labelledby="t20">
                <div class="content-div-even white-box b-f orange-t text-uppercase">
                    <div class="rank-no s-icon"><img src="assets/images/others-icon-new.svg" /> OTHERS</div>
                    
                    </div>
                    <div class="content-div-even white-box">
                    <div class="rank-no">Captain</div>
                    <div class="rank-price green-t">2X</div>
                    </div>
                    <div class="content-div-even white-box">
                    <div class="rank-no">Vice-Captain</div>
                    <div class="rank-price green-t">1.5X</div>
                    </div>
                    
                </div>
                <div class="tab-pane fade show active" id="t20" role="tabpanel" aria-labelledby="t20">
                    <div class="content-div-even white-box b-f orange-t text-uppercase">
                        <div class="rank-no s-icon"><img src="assets/images/economy-rate.svg" /> ECONOMY RATE(Min 2 Overs To Be Bowled)</div>
                        
                        </div>
                        <div class="content-div-even white-box">
                        <div class="rank-no">Below 4 runs per over</div>
                        <div class="rank-price green-t">+3</div>
                        </div>
                        <div class="content-div-even white-box">
                        <div class="rank-no">Between 4-4.99 runs per over</div>
                        <div class="rank-price green-t">+2</div>
                        </div>
                        <div class="content-div-even white-box">
                            <div class="rank-no">Between 5-6 runs per over</div>
                            <div class="rank-price green-t">+1</div>
                        </div>
                        <div class="content-div-even white-box">
                            <div class="rank-no">Between 9-10 runs per over</div>
                            <div class="rank-price red-t">-1</div>
                        </div>
                        <div class="content-div-even white-box">
                            <div class="rank-no">Between 10.1-11 runs per over</div>
                            <div class="rank-price red-t">-2</div>
                        </div>
                        <div class="content-div-even white-box">
                            <div class="rank-no">Above 11 runs per over</div>
                            <div class="rank-price red-t">-3</div>
                        </div>
                       
                    </div>
                    <div class="tab-pane fade  " id="t10" role="tabpanel" aria-labelledby="t10">
                        <div class="content-div-even white-box b-f orange-t text-uppercase">
                            <div class="rank-no s-icon"><img src="../images/contest-star.svg" /> STRIKE RATE(EXPECT BOWLER)</div>
                            
                            </div>
                            <div class="content-div-even white-box">
                            <div class="rank-no">Between 60-70 runs per 100 balls</div>
                            <div class="rank-price red-t">-1</div>
                            </div>
                            <div class="content-div-even white-box">
                            <div class="rank-no">Between 50-59.9 runs per 100 balls</div>
                            <div class="rank-price green-t">-2</div>
                            </div>
                            <div class="content-div-even white-box">
                                <div class="rank-no">Below 50 runs per 100 balls</div>
                                <div class="rank-price green-t">-3</div>
                            </div>
                    </div>
            </div>
            <div class="tab-content" id="OD">
                <div class="tab-pane fade show active" id="t20" role="tabpanel" aria-labelledby="t20">
                    <div class="content-div-even white-box b-f orange-t text-uppercase">
                        <div class="rank-no s-icon"><img src="assets/images/bat-icon-new.svg" /> BATING</div>
                        
                        </div>
                        <div class="content-div-even white-box">
                        <div class="rank-no">Run</div>
                        <div class="rank-price green-t">+0.5</div>
                        </div>
                        <div class="content-div-even white-box">
                        <div class="rank-no">Boundary Bonus</div>
                        <div class="rank-price green-t">+0.5</div>
                        </div>
                        <div class="content-div-even white-box">
                            <div class="rank-no">Six Bonus</div>
                            <div class="rank-price green-t">+1</div>
                        </div>
                        <div class="content-div-even white-box">
                            <div class="rank-no">Half-Century Bonus</div>
                            <div class="rank-price green-t">+2</div>
                        </div>
                        <div class="content-div-even white-box">
                            <div class="rank-no">Century Bonus</div>
                            <div class="rank-price green-t">+1</div>
                        </div>
                        <div class="content-div-even white-box">
                            <div class="rank-no">Dismissal for a duck(Batsman,Wicket-keeper & All-rounder)</div>
                            <div class="rank-price green-t">+1</div>
                        </div>
                        <div class="content-div-even white-box">
                            <div class="rank-no">Dismissal for a duck(Batsman,Wicket-keeper & All-rounder)</div>
                            <div class="rank-price green-t">+1</div>
                        </div>
                    </div>
                    </div>
            
    </div>

</div>

</div>



</div>
</div>
</div>


</div>
</section>
</article>

<app-inner-footer></app-inner-footer>