<app-header></app-header>
<article>
    <section class="entry-form">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-10">
                    <div class="form-box-whl"> 
                        <div></div>
                        <div class="form-box-bg"> 
                            <div class="form-title">FORGOT PASSWORD</div>
							<form #forgotFrom (ngSubmit)="onSubmit()" class="logfrm"  autocomplete="off">

                                <label [class.text-danger]="error.email">
                                    <p class="label-txt">Enter Email</p>
                                    <input type="text" class="input" name="email" [(ngModel)]="form.email">
                                    <div class="line-box">
                                        <div class="line"></div>
                                    </div>
                                    <span *ngIf="error.email" class="help-block" [hidden]="!error.email">
                                        <strong class="text-danger"> {{ error.email }}</strong>
                                    </span>
                                </label>
                                
                                
                                <button class="green_btn btn-block site-btn" routerLink="/leagues" type="submit">Submit</button>
                            </form>
                            <div class="form-box">
                                <!-- <div class="text-center small grey-t">Facing issues? <a href="#"
                                        class="site-link">contact us</a></div> -->
                                        <div class="text-right small grey-t">Already a user?<br/><a routerLink="/login"
                                            class="site-link">Login</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>

<app-footer class="home-footer"></app-footer>