<app-inner-header></app-inner-header>
<article>

    <section class="tab-whl sticky-header without-banner">
        <div class="container">
           
                <div class="div-table-tr">
                    <div class="div-table-td text-uppercase left-title">
                        <h5 class="mb-0">Contests</h5>
                    </div>
                    <div class="div-table-td country-name text-uppercase">IND<span class="grey-t">VS</span>PAK</div>
                    <div class="div-table-td flag-name">
                        <div class="flags-whl">
                            <span class="flag-pic-s"><img src="assets/images/flag/in.svg" /></span>
                            <span class="trophy-pic"><img src="assets/images/tropy.svg" /></span>
                            <span class="flag-pic"><img src="assets/images/flag/pk.svg" /></span>
                        </div>
                    </div>
                    <div class="div-table-td time-level text-center">10h 45m 20s</div>
                    <div class="div-table-td more-link text-uppercase s-t">More info</div>
                </div>
           

        </div>
    </section>

    <section class="sec-pad content-section contest-list">

        <div class="container">

<div class="form-box-whl center-form">
    
    <div class="form-box-bg">
            <div class="form-title">Create Contest</div>
            <form>

                <label>
                    <p class="label-txt">Give your contest a name</p>
                    <input type="text" class="input" placeholder="(optional)">
                    <div class="line-box">
                        <div class="line"></div>
                    </div>
                </label>
                <label>
                    <p class="label-txt">Total prize pool</p>
                    <input type="text" class="input" placeholder="min 0 to & max 10,000">
                    <div class="line-box">
                        <div class="line"></div>
                    </div>
                </label>
                <label>
                    <p class="label-txt">Contest size</p>
                    <input type="text" class="input" placeholder="wind 2 & max 500">
                    <div class="line-box">
                        <div class="line"></div>
                    </div>
                </label>

                <button class="btn-block site-btn" routerLink="/" type="submit">Create Contest</button>
                
            </form>
            
        </div>
</div>
</div>
</section>
</article>
<app-inner-footer></app-inner-footer>
