<app-header></app-header>
<article>
<section class="entry-form">
<div class="container">
<div class="row justify-content-md-center">
<div class="col-md-10">
<div class="form-box-whl">
<div></div>
<div class="form-box-bg">
<div class="form-title">Reset password</div>
<form #resetpasswordForm="ngForm" (ngSubmit)="onSubmit(resetpasswordForm)" class="logfrm" autocomplete="off">

<!-- <label [class.text-danger]="error.email">
<p class="label-txt">Email</p>
 //placeholder="Email"  
<input type="email" name="email" class="input" id="inputEmail3" 

[(ngModel)]="form.email" required>
<div class="line-box">
<div class="line"></div>
</div>
<span *ngIf="error.email" class="help-block" [hidden]="!error.email">
<strong class="text-danger">{{ error.email }}</strong>
</span>
</label> -->

<label [class.text-danger]="error.password">
<p class="label-txt">New Password</p>
<!-- placeholder="New Password" -->
<input type="password" name="password" class="input" id="password" #password="ngModel" ngModel required>
<div class="line-box">
<div class="line"></div>
</div>
<span *ngIf="error.password" class="help-block" [hidden]="!error.password">
<strong class="text-danger">{{ error.password }}</strong>
</span>
</label>

<label [class.text-danger]="error.confirmpassword">
<p class="label-txt">Confirm Password</p>
<!-- placeholder="Confirm Password"  -->
<input type="password" name="confirmpassword" class="input" id="confirmpassword" #confirmpassword="ngModel" ngModel required >
<div class="line-box">
<div class="line"></div>
</div>
<span *ngIf="error.confirmpassword" class="help-block" [hidden]="!error.confirmpassword">
<strong class="text-danger">{{ error.confirmpassword }}</strong>
</span>
</label>

<button class="site-btn btn-block site-btn"  type="submit">Proceed</button>
</form>
<div class="form-box">


<!-- <div class="row">
<div class="col-md-6 col-sm-12">
<a href="#" class="btn shadow-btn btn-block face-color"> <i class="fa fa-facebook" aria-hidden="true"></i> facebook</a>
</div>
<div class="col-md-6 col-sm-12">
<a href="#" class="btn shadow-btn btn-block goog-color">  <i class="fa fa-google" aria-hidden="true"></i> Gmail</a>
</div>
</div> -->



</div>
</div>
</div>
</div>
</div>
</div>
</section>
</article>

<app-footer class="home-footer"></app-footer>