<app-header></app-header>
<article>
    <section class="entry-form">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-10">
                    <div class="form-box-whl">
                        <div></div>
                        <div class="form-box-bg">
                            <div class="form-title">Password</div>
                            <form #passwordFrom="ngForm" (ngSubmit)="onSubmit(passwordFrom)" class="logfrm"  autocomplete="off">
                                <label>
                                    <p class="label-txt">Enter Password</p>
                                    <input type="password" class="input" name="password" #password="ngModel" ngModel required>                                    
                                    <div class="line-box">
                                        <div class="line"></div>
                                    </div>
                                    <span class="help-block" [hidden]="!error.password">
                                        <strong class="text-danger"> {{ error.password }}</strong>
                                    </span>
                                </label>
                        
                                <button class="green_btn btn-block site-btn" type="submit">Proceed</button>
                            </form>
                            <div class="form-box">
                                <br />
                                <div class="text-center small grey-t">Facing issues? <a href="#"
                                        class="site-link">contact us</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
<app-footer class="home-footer"></app-footer>